# Introduction to ptype-cat

In [1]:
# Preamble to run notebook in context of source package.
import sys
sys.path.insert(0, '../')

In [2]:
from IPython.core.display import display

import matplotlib.pyplot as plt
%matplotlib inline
plt.rcdefaults()
import numpy as np
import pandas as pd

from ptype.PtypeCat import PtypeCat

In [3]:
df = pd.read_csv('../data/eucalyptus.csv', dtype='str', keep_default_na=False)

features = ['Sp', 'Locality', 'Altitude', 'Rainfall', 'Ht', 'Surv', 'Vig']
target = ['Utility']

X = df[features]
y = df[target]

df = df[features+target]
df.head()

   Sp            Locality Altitude Rainfall     Ht Surv  Vig Utility
0  co  Central_Hawkes_Bay      100      850   9.96   40    4    good
1  fr  Central_Hawkes_Bay      100      850   9.65   90  4.5    best
2  ma  Central_Hawkes_Bay      100      850    6.5   50  2.3     low
3  nd  Central_Hawkes_Bay      100      850   9.48   70  3.7    good
4  ni  Central_Hawkes_Bay      100      850  10.78   90    4    good

In [4]:
ptype = PtypeCat()

schema = ptype.schema_fit(df)

/Users/tceritli/Google Drive/github_repos/ptype/ptype_env/lib/python3.8/site-packages/sklearn/base.py:310: UserWarning: Trying to unpickle estimator LogisticRegression from version 0.23.2 when using version 0.24.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(
/Users/tceritli/Google Drive/github_repos/ptype/ptype_env/lib/python3.8/site-packages/sklearn/base.py:310: UserWarning: Trying to unpickle estimator RobustScaler from version 0.23.2 when using version 0.24.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

In [5]:
schema.show()

,Sp,Locality,Altitude,Rainfall,Ht,Surv,Vig,Utility
type,categorical,categorical,categorical,categorical,float,float,float,categorical
normal values,"[ag, am, br, bxs, co, cr, el, fa, fr, jo, ka, ...","[Central_Hawkes_Bay, Central_Poverty_Bay, Cent...","[100, 130, 150, 160, 180, 200, 220, 300, 70]","[1000, 1050, 1080, 1200, 1250, 1300, 1400, 175...","[1.12, 1.53, 1.74, 1.75, 1.8, 1.89, 10, 10.02,...","[1.5, 10, 100, 13, 14, 17, 18, 2, 2.5, 20, 21,...","[0.5, 1, 1.3, 1.5, 1.6, 1.7, 1.8, 1.9, 2, 2.3,...","[average, best, good, low, none]"
missing values,[],[],[],[],[ε],[ε],[ε],[]
anomalous values,[],"[Central_Hawkes_Bay_(coastal), Southern_Hawkes...",[],[],[],[],[],[]
(empty string marker),,,,,ε,ε,ε,